<div class="col-xs-5">
    <h1>ブックマーク一覧</h1>
  <% end %>
    <% @favorites.each do |word| %>
      <table class= "table">
        <tr>
          <td><%= link_to word.word , word_path(word.id) %></td>
        </tr>
      </table>
      <% end %>
</div>