<h1 class="title">IERUKANA?へようこそ</h1>

<div class="about">
<h2 class="about__title">IERUKARA?について</h2>
<div class="about__strong">このサイトは「早口言葉投稿サイト」です。</p>
<p class="about__detail">あなただけの早口言葉リスト作ってみませんか？</p>
<p class="about__detail">会員登録することで早口言葉の投稿やお気に入りのリストを管理することが可能です。</p>
<p class="about__detail">タグ検索とフリーワード検索で簡単にサイト内の投稿作品を見つけることが可能です。</p>
<p class="about__detail">評価機能、コメント機能で他のユーザーの投稿作品を評価することが可能です。</p>
<div class="about__strong">このサイトを使って活舌改善しちゃいましょう！！</p>
</div>