<h1 class="title">早口言葉編集</h1>
<div class="form">
  <%= form_for(@word) do |f| %>
    <p class="form__label">早口言葉</p>
    <%= f.text_field :word, class: "input" %>        
    <p class="form__label">タグ</p>
    <%= f.text_field :tag_list, value: @word.tag_list.join(','), class: "col-xs-9" %>
    <div class=actions>
      <%= f.submit 'Update Word',class: "btn" %><br>
    </div>
  <% end %>
</div>