<h1>早口言葉編集</h1>
<%= form_for(@word) do |f| %>

  <div class=field>
    <label>早口言葉</label>
    <%= f.text_field :word %>
  </div>        
  
  <div class=field>
    <label>タグ</label>
    <%= f.text_field :tag_list, value: @word.tag_list.join(','), class: "col-xs-9" %>
  </div>
  
  <div class=actions>
    <%= f.submit 'Update User' %><br>
  </div>
  
  <% end %>