<h1 class="title">新規投稿</h1>
<div class="form"> 
  <%= form_for(@word) do |f| %>   
        <p class="form__label">早口言葉</p>
        <%= f.text_area :word, class: "input",placeholder: "例：生麦生米生卵" %>
        <p class="form__label">タグ</p>
        <%= f.text_field :tag_list, value: @word.tag_list.join(','), class: "input",placeholder: "単語をコンマで区切ってください。例：基本,有名,ナ行" %><br>
        <%= f.submit 'Create',class: "btn" %>
      <% end %>
</div>