<h1>新規投稿</h1>
<%= form_for(@word) do |f| %>
<div class="field row">
  <label>早口言葉</label>
  <%= f.text_area :word,class: "col-xs-9" %>
</div>
<div class="field row">
  <label>タグ</label>
  <%= f.text_field :tag_list, value: @word.tag_list.join(','), class: "col-xs-9" %>
</div>
<div class="actions row">
  <%= f.submit 'Create',class: "btn btn-primary col-xs-9" %>
</div>
<% end %>