<h1 class="title">ブックマークランキング</h1>
<div class="content">
  <% @all_ranks.each.with_index(1) do |word, i| %>
    <table class= "content__table">
      <tr class="content__table-row">
        <td class="content__table-word"><%= link_to word.word , word_path(word.id),class: "link" %>
        <br><div class="content__table-user">作者：<%= link_to word.user.name, user_path(word.user.id),class: "link" %></div></td>
      </tr>
      <tr class="content__table-row">
       <td class="content__table-tag">タグ：<%= render 'words/tag_list', tag_list: word.tag_list,class: "tag" %> </td>
      </tr>
    </table>
  <% end %>
</div>