/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic'); 
*{
  color: #6c6b6b;
  margin: 0;
  padding: 0;
  font-family: 'Sawarabi Mincho', sans-serif;
}


header{
  width: 100%;
  padding: 15px 0;
  margin: 0 auto;
  text-decoration: none;
  background-image: url("back.jpg");
  background-size: cover;
  background-position: top center;
}

.nav{
  font-size: 25px;
 

  &__list{
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
    

    &-item{
      color: #364e96;/*文字色*/
      width: 180px;/*上下の余白*/
      height: 60px;
      text-align: center;

      border: solid 5px #364e96;/*上線*/
      border-radius: 10px;
      list-style: none;   
      display: inline-block;
      margin: 0 10px;
      background-color: #ffffff;
      .link{
      text-decoration: none;
      color: #668acc;
      line-height: 60px;
     }
    }
  }
}
.search{
  text-align: right;
  margin-top: 50px;
  .search__input{
    width: 300px;
    height: 45px;
    font-size: 20px;
    border: solid 5px  #364e96;
    border-radius: 10px;
  }
  .button{
    width: 90px;
    font-size: 10px;

  }
}
.form{
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 60%;
  padding: 8px 19px;
  color: #2c2c2f;
  background: #cde4ff;
  border: solid 5px #5989cf;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  .rate_font{
    font-size: 20px;
  }
  &__label{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;

  .btn{
    text-align: center;
    margin-top: 20px;
  }
}
}


.title {
  margin: 60px;
 text-align: center;
  position: relative;
  padding: 15px 20px;
  font-size: 100px;/*フォントサイズ*/
  color: #FFF;/*フォントカラー*/
  background: #848de2;/*背景色*/
}

.title:before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px rgb(149, 158, 155);/*折り返し部分*/
}

.title:after {
  position: absolute;
  content: '';
  top: 100%;
  right: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-left: solid 20px rgb(149, 158, 155);/*折り返し部分*/
}
.content{
  width: 100%;
  margin: 0 auto;

  &__title{
    font-size: 50px;
    margin: 100px;
  }

  &__table{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 20px;
    
    &-created_at{
      font-size: 15px;
    }
    &-info{
      text-align: left;
    }
    &-fav{
      text-decoration: none;
      color: #6c6b6b;
      font-size: 30px;
      background: #cde4ff;
    }

    &-box{
      width: 80%;
      padding: 8px 19px;
      margin: 0 auto;
      color: #2c2c2f;
      background: #cde4ff;
      border-top: solid 5px #5989cf;
      border-bottom: solid 5px #5989cf;
      font-size: 20px;
    }

    &-pic{
      margin: 0 auto;
    }
    &-count{
      
    }
    &-name{
      text-align: center;
      .user_link{
        text-decoration: none;
        color: #6c6b6b;
        font-size: 20px;
      }
    }
    &-tag{
      .tag{
      text-decoration: none;
      padding: 0em.5em 0em;
      margin: 10em 0;
      color: #232323;
      background: #fff8e8;
      border-left: solid 10px #ffc06e;
      } 
   }
   &-head{
    width: 50px;
  }
    
    &-row{
      .link{
        text-decoration: none;
        color: #6c6b6b;
        font-size: 30px;
      }

      .up_btn{
        width: 180px;
        text-align: center;
        display: inline-block;
        padding: 0.5em 1em;
        text-decoration: none;
        border-radius: 4px;
        color: #ffffff;
        background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
        border-bottom: solid 3px #5e7fca;
      }
      .up_btn:active {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
        border-bottom: none;
      }
      .d_btn{
        width: 180px;
        text-align: center;
        display: inline-block;
        padding: 0.5em 1em;
        text-decoration: none;
        border-radius: 4px;
        color: #ffffff;
        background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
        border-bottom: solid 3px #c58668;
      }
      .d_btn:active{
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
        border-bottom: none;
      }
    }
    &-rate{
      width: 120px;
    }

    &-user{
      font-size: 20px;
      text-align: right;
    }
    &-word{
      font-size: 50px;
      padding: 0.5em;/*文字周りの余白*/
      color: #010101;/*文字色*/
      background: #eaf3ff;/*背景色*/
      border-bottom: solid 3px #516ab6;/*下線*/
      width: 70%;
     
    }
  }
}

.comment{
  td{
    vertical-align: middle;
  }
  &__table{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 20px;
    border-collapse: collapse;
    border-spacing: 0;
  &-pic{
    vertical-align: middle;
  }
  &-rate{
    vertical-align: middle;
  }
  &-name{
    text-align: center;
    vertical-align: middle;
    .user_link{
      text-decoration: none;
      color: #6c6b6b;
      font-size: 20px;
    }
  }
  &-row{
    padding: 10px 0;
    text-align: center;
  }
  &-row:nth-child(odd){
    background-color: #eaf3ff;
  }
  &-comment{
    width: 40%;
    vertical-align: middle;
  }
}
  .up_btn{
    width: 180px;
    text-align: center;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 4px;
    color: #ffffff;
    background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #5e7fca;
  }
  .up_btn:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
  }
  .d_btn{
    width: 180px;
    text-align: center;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 4px;
    color: #ffffff;
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #c58668;
  }
  .d_btn:active{
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
  }
}
.pagination {
  width: 55%;
}
footer{
  width: 100%;
  height: 150px;
  background-image: url("back.jpg");
  background-size: cover;
  background-position: top center;

}